.boxes-container{
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 80%;
}

#editor{
  width: 100%;
  background-color: rgb(21, 21, 21);
  color:#e9e641;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  overflow: auto;
}

#preview{
  width: 100%;
  background-color: rgb(21, 21, 21);
  color:#e9e641;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
}

img {
  max-width: 100%;
}